<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GlassWare{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            {% stylesheets '../dist/css/lib.css' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id ="body">
        {% block body %}
            <header id ="header">
                {% block header %}
                    <a href="{{ path('homepage') }}" class="header-title"><h1>GlassWare</h1></a>
                    <ul>
                        <li><a id="first-li" href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('articles') }}">Блог</a></li>
                        <li><a href="{{ path('contact') }}">Контакты</a></li>
                        <li><a href="javascript:void(0);">О нас</a></li>
                    </ul>
                {% endblock %}
            </header>
            <div id="page-wrap">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer id="footer">
                {% block footer %}
                    <span> 
                        <p> Все права защищены &copy; 2016 by 
                            <a href="https://freelancehunt.com/freelancer/scientecs.html#portfolio">Scientecs.</a>
                        </p>
                    </span>
                {% endblock %}
            </footer>
        {% endblock %}
    </body>
    {% block javascripts %}
        {% javascripts '../dist/js/lib.js'
          '@SiteBundle/Resources/public/js/example.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</html>

