{% extends "base.html.twig" %}

{% block content %}
    <div class="articles">
        {% for article in articles %}
            <div class="title-articles">{{ article.title }}</div>
            <img height="200px" width="200px" src="{{ asset(article.urlImage) }}" alt="Example" />
            <span class="articles-descr">
                <p>{{ article.shortDescription }}</p>
            </span>
            <div class="date-more">
                <div class="articles-publish-date">{{ article.publishedDate | date('Y/m/d') }}</div>
                <a class="articles-more" href="{{ path('article_page') }}/{{ article.slug }}">Читать далее...</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}