{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/site/css/index.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="main-center">
            <ul class="center-link" >
                <li >
                    {% image '@SiteBundle/Resources/public/images/alcogol.jpg' %}
                    <img height="100px" width="100px" src="{{ asset_url }}" alt="Example" />
                    {% endimage %}
                    <p>
                        <a class="main-center-link">Алкоголь</a>
                    </p>
                </li>
                <li>
                    {% image '@SiteBundle/Resources/public/images/banks.jpg' %}
                    <img height="100px" width="100px" src="{{ asset_url }}" alt="Example" />
                    {% endimage %}
                    <p>
                        <a class="main-center-link">Банки</a>
                    </p>
                </li>
                <li>
                    {% image '@SiteBundle/Resources/public/images/broken_glass.jpg' %}
                    <img height="100px" width="100px" src="{{ asset_url }}" alt="Example" />
                    {% endimage %}
                    <p>
                        <a class="main-center-link">Битое стекло</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}